
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/bootstrap-icons.min.css" rel="stylesheet">
</head>
<body class="bg-color">


<nav class="navbar navbar-expand-lg navbar-dark bg-custom  fixed-top navbarScroll" >
  <div class="container">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="#home">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#services">Experience</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#portfolio">Projects</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#contact">Contact</a>
              </li>
          </ul> 
      </div>
  </div>
</nav>



<section id="home">
<div class="row">
  <div class="col-sm-7">
    <div class="card" style="border: none;">
      <div class="card-body" style="background-color: rgb(16, 50, 70);padding-left: 40px;padding-top: 70px;">
        <h2 style="color: white;font-size: 60px;text-align: center;">Hi, I'm Manushree</h2>    
      <p style="color: white;font-size: 40px; text-align: center; ">Web developer</p>
      <p style="color: white;font-size: 30px; text-align: center; ">As a passionate web developer having a knowledge of HTML, CSS and Javascript</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card" style="background-color: rgb(16, 50, 70)">
      <div class="card-body" style="margin-left: 30px;padding-top: 70px;">
        <div class="col-xl-6 col-lg-6 col-md-6">
          <img src="assets/images/profile-new.jpeg" alt="responsive webite" class="img-fluid" style="border-radius: 20px; width:500px; height:300px">
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<div class="card text-center" style="border-radius: 50px;">
<div class="card-body">
  <h5 class="card-title" style="font-size: 30px; font-weight: bolder;">About Me</h5>
  <p class="card-text" style="font-size: 25px;">Seeking for an better oppurtunity work as a web developer having the knowledge of HTML, CSS and Javascript.</p>
  <p style="font-size: 25px;">My highest qualification is Bachelor of Degree in Electrical and Electronics domain</p>

  <!-- <a href="#" class="btn btn-primary">Download CV</a> -->
</div>
</div>








<!-- services section-->
<section class="para-text" id="services" style="margin-top: 60px;">
  <div class="container">
      <h1 class="text-center">Experience</h1>

      <div class="row">
          <div class="col-lg-4 mt-4">
              <div class="card servicesText">
                  <img class="card-img-top d-flex justify-content-center align-items-center img-responsive center-block d-block mx-auto" src="assets/images/streamingo.jpeg" alt="Card image" style="width:80px; height:60px; margin-left: 170px;margin-top: 2px">
                  <div class="card-body inside-text" style="height:fit-content">
                      <i class='fas servicesIcon fa-search'></i>
                      <h4 class="card-title mt-3">Streamingo Solutions Private Limited</h4>
                      <p class="text-center" style="font-weight: bold;font-size: 20px;">2021-till date</p>
                      <p class="card-text mt-3">Worked as <b>Team Lead</b> for data annotation team, worked on Streamingo website development and feature development of tool. 
                      </p>
                  </div>
              </div>  
          </div>

          <div class="col-lg-4 mt-4">
              <div class="card servicesText">
                <img class="card-img-top d-flex justify-content-center align-items-center img-responsive center-block d-block mx-auto" src="assets/images/ltts1.jpeg" alt="Card image" style="width:80px; height:60px; margin-left: 170px;margin-top: 2px;">
                  <div class="card-body inside-text">
                      <i class='fas servicesIcon fa-shield-alt'></i>
                      <h4 class="card-title mt-3">Larsen & Toubro technology Services</h4>
                      <p class="text-center" style="font-weight: bold;font-size: 20px;">2019-2021</p>
                      <p class="card-text mt-3">Being as a <b>Quality checker</b> ensuring the quality output from the Data annotation team, helping to improve the model accuracy based on the clients requirment.
                      </p>
                  </div>
              </div>  
          </div>

          <div class="col-lg-4 mt-4">
              <div class="card servicesText">
                <img class="card-img-top d-flex justify-content-center align-items-center img-responsive center-block d-block mx-auto" src="assets/images/beml.jpeg" alt="Card image" style="width:80px; height:60px; margin-left: 170px;margin-top: 2px">
                  <div class="card-body inside-text">
                      <i class='fas servicesIcon fa-wrench'></i>
                      <h4 class="card-title mt-3">BEML</h4>
                      <p class="text-center" style="font-weight: bold;font-size: 20px;">2018-2019</p>
                      <p class="card-text mt-3">Worked as a <b>Apprentice Trainee</b> in Materian Management Department, worked on File life cycle of a product, supplier relationship management of a product from base to client
                      </p>
                  </div>
                </div>
               
          </div>
      </div>
  </div>
</section>

<!-- portfolio section-->
<section class="para-text" id="portfolio">
  <div class="container mt-3">
      <h1 class="text-center">Projects</h1>
      <div class="row">
          <div class="col-lg-4 mt-4">
              <div class="card portfolioContent">
                  <img class="work-image"  src="assets/images/web6.jpeg" alt="Card image">
                  <div class="card-body inside-text">
                      <h4 class="card-title">Web Development</h4>
                      <p class="card-text">Worked on website development of Streamingo Solution landing page, creating a new faceblur component and adding new features to the website based on the requirments</p>
                      
                  </div>
              </div>
          </div>

          <div class="col-lg-4 mt-4">
              <div class="card portfolioContent">
                  <img  class="work-image" src="assets/images/tool3.jpeg" alt="Card image">
                  <div class="card-body inside-text">
                      <h4 class="card-title">Tool Development</h4>
                      <p class="card-text">Developed required features in deeplabel labelling tool and fixed some of the bugs raised by labelling team. some of the examles are adding new filter, displaying data on the UI from calling API's </p>
                      
                  </div>
              </div>
          </div>
          <div class="col-lg-4 mt-4">
            <div class="card portfolioContent">
                <img class="work-image"  src="assets/images/mtesting.jpeg" alt="Card image" >
                <div class="card-body inside-text">
                    <h4 class="card-title">Manual Testing</h4>
                    <p class="card-text">Experinced in manual testing of the tool, UI and feature developed from developers team. Done end-to-end testing, sanity testing and using jira to raise bug if found any.</p>
                </div>
            </div>
        </div>   
      </div>
      <br>
      <div class="row">
          
          <div class="col-lg-4 mt-4">
            <div class="card portfolioContent">
                <img class="work-image" src="assets/images/v1.jpeg" alt="Card image">
                <div class="card-body inside-text">
                    <h4 class="card-title">Data Labelling</h4>
                    <p class="card-text"> Worked on Labelling for object detection, sematic segmentaion, reviewing the model output after fizzing and correcting the output if required </p>
                    
                </div>
            </div>
        </div>

        <div class="col-lg-4 mt-4">
          <div class="card portfolioContent">
              <img  class="work-image"  src="assets/images/annot1.jpeg" alt="Card image" >
              <div class="card-body inside-text">
                  <h4 class="card-title">ADAS Annotation</h4>
                  <p class="card-text">Worked on Veoneer, Continetal project of ADAS, where had experience in 2D and 3D labelling</p>
                  
              </div>
          </div>
      </div>

      <div class="col-lg-4 mt-4">
        <div class="card portfolioContent">
            <img  class="work-image"  src="assets/images/lidar5.jpeg" alt="Card image" >
            <div class="card-body inside-text">
                <h4 class="card-title">Lidar Labelling</h4>
                <p class="card-text">Experined in BMW lidar point cloud annotation team both in image and video data</p>
                
            </div>
        </div>
    </div>
      </div>
    </div>
</section>

<!-- contact section-->
<section class="para-text" id="contact">
  <div class="container mt-3 contactContent">
      <h1 class="text-center">Contact Me</h1>
<div class="text-center">
      <div class="row mt-4 d-flex justify-content-center">
          <div class="col-lg-6 ">
              <!-- form fields -->
              <form class="text-center" action="https://formsubmit.co/19e7d7501bc1700e0b3bdadb423f7ef6" method="POST">
                  <input type="text" name="Name" class="form-control form-control-lg" placeholder="Name">
                  <input type="email" name="Email" class="form-control mt-3" placeholder="Email">
                  <input type="text" name="Sugject" class="form-control mt-3" placeholder="Subject">

                  <div class="mb-3 mt-3">
                      <textarea class="form-control" rows="5" id="comment" name="text" placeholder="Message"></textarea>
                  </div>
                  <button type="submit" class="btn btn-success mt-3" >Submit</button>
              </form>
                  
          </div>
      </div>
    </div>
  </div>
</section>

<footer class="bg-custom text-center " style="background-color: white">
    
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <div class="align-items-center" style="padding-left: 40px; background-color: white">
      <div style=" background-color: white; text-align: center;">
        <a target="_blank" href="https://www.linkedin.com/in/manushree-r-78245a1b1/">
        <svg style="margin-right:40px" width="35" height="35" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
            <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
          </svg>
        </a>
       
        <!-- <a target="_blank" href="">
          <svg style="margin-right:40px "  width="35" height="35" fill="currentColor" class="bi bi-envelope-at" viewBox="0 0 16 16" (click)="sendEmail()">
            <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z"/>
            <path d="M14.247 14.269c1.01 0 1.587-.857 1.587-2.025v-.21C15.834 10.43 14.64 9 12.52 9h-.035C10.42 9 9 10.36 9 12.432v.214C9 14.82 10.438 16 12.358 16h.044c.594 0 1.018-.074 1.237-.175v-.73c-.245.11-.673.18-1.18.18h-.044c-1.334 0-2.571-.788-2.571-2.655v-.157c0-1.657 1.058-2.724 2.64-2.724h.04c1.535 0 2.484 1.05 2.484 2.326v.118c0 .975-.324 1.39-.639 1.39-.232 0-.41-.148-.41-.42v-2.19h-.906v.569h-.03c-.084-.298-.368-.63-.954-.63-.778 0-1.259.555-1.259 1.4v.528c0 .892.49 1.434 1.26 1.434.471 0 .896-.227 1.014-.643h.043c.118.42.617.648 1.12.648Zm-2.453-1.588v-.227c0-.546.227-.791.573-.791.297 0 .572.192.572.708v.367c0 .573-.253.744-.564.744-.354 0-.581-.215-.581-.8Z"/>
          </svg>
        </a> -->
        <a target="_blank" href="https://github.com/Manu-shree">
          <svg style= "margin-right:40px"  width="35" height="35" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
          </svg>   
        </a>    
    </div>
  </div> 


  </div>
 
</footer>

</body>



